@font-face {
  font-family: 'wificon';
  src: url('fonts/wificon.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'wificon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.wificon.icon-settings2:before {
  content: "\e994";
}
.wificon.icon-attachment:before {
  content: "\e9cd";
}
.wificon.icon-record:before {
  content: "\ea54";
}
.wificon.icon-arp .path1:before {
  content: "\e912";
  color: rgb(0, 0, 0);
}
.wificon.icon-arp .path2:before {
  content: "\e913";
  margin-left: -0.875em;
  color: rgb(66, 66, 66);
}
.wificon.icon-arp .path3:before {
  content: "\e914";
  margin-left: -0.875em;
  color: rgb(133, 133, 133);
}
.wificon.icon-arp .path4:before {
  content: "\e915";
  margin-left: -0.875em;
  color: rgb(196, 196, 196);
}
.wificon.icon-dns .path1:before {
  content: "\e916";
  color: rgb(0, 0, 0);
}
.wificon.icon-dns .path2:before {
  content: "\e917";
  margin-left: -0.875em;
  color: rgb(66, 66, 66);
}
.wificon.icon-dns .path3:before {
  content: "\e918";
  margin-left: -0.875em;
  color: rgb(133, 133, 133);
}
.wificon.icon-dns .path4:before {
  content: "\e919";
  margin-left: -0.875em;
  color: rgb(196, 196, 196);
}
.wificon.icon-group:before {
  content: "\e91a";
}
.wificon.icon-radar:before {
  content: "\e91b";
}
.wificon.icon-router:before {
  content: "\e91c";
}
.wificon.icon-searcher:before {
  content: "\e91d";
}
.wificon.icon-wifilock:before {
  content: "\e91e";
}
.wificon.icon-wifistop:before {
  content: "\e91f";
}
.wificon.icon-capture:before {
  content: "\e920";
}
.wificon.icon-analysis:before {
  content: "\e900";
}
.wificon.icon-app:before {
  content: "\e901";
}
.wificon.icon-chat:before {
  content: "\e902";
}
.wificon.icon-cipher:before {
  content: "\e903";
}
.wificon.icon-download:before {
  content: "\e904";
}
.wificon.icon-killwifi:before {
  content: "\e905";
}
.wificon.icon-location:before {
  content: "\e906";
}
.wificon.icon-team:before {
  content: "\e907";
}
.wificon.icon-mobileap:before {
  content: "\e908";
}
.wificon.icon-ap:before {
  content: "\e909";
}
.wificon.icon-wifi:before {
  content: "\e90a";
}
.wificon.icon-nic:before {
  content: "\e90b";
}
.wificon.icon-page:before {
  content: "\e90c";
}
.wificon.icon-private:before {
  content: "\e90d";
}
.wificon.icon-pkt:before {
  content: "\e90e";
}
.wificon.icon-settings:before {
  content: "\e90f";
}
.wificon.icon-share:before {
  content: "\e910";
}
.wificon.icon-wifiscan:before {
  content: "\e911";
}
