@font-face {
  font-family: 'wificon';
  src: url('fonts/wificon.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'wificon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.wificon.icon-cog:before {
  content: "\e994";
}
.wificon.icon-attachment:before {
  content: "\e9cd";
}
.wificon.icon-signal-0:before {
  content: "\e900";
}
.wificon.icon-signal-1:before {
  content: "\e901";
}
.wificon.icon-signal-2:before {
  content: "\e902";
}
.wificon.icon-signal-3:before {
  content: "\e903";
}
.wificon.icon-signal-4:before {
  content: "\e904";
}
.wificon.icon-signal-5:before {
  content: "\e905";
}
.wificon.icon-group:before {
  content: "\e906";
}
.wificon.icon-radar:before {
  content: "\e907";
}
.wificon.icon-router:before {
  content: "\e908";
}
.wificon.icon-searcher:before {
  content: "\e909";
}
.wificon.icon-phone-wifi:before {
  content: "\e90a";
}
.wificon.icon-wifilock:before {
  content: "\e90b";
}
.wificon.icon-wifistop:before {
  content: "\e90c";
}
.wificon.icon-antenna:before {
  content: "\e90d";
}
.wificon.icon-analysis:before {
  content: "\e90e";
}
.wificon.icon-ap:before {
  content: "\e90f";
}
.wificon.icon-app:before {
  content: "\e910";
}
.wificon.icon-arp:before {
  content: "\e911";
}
.wificon.icon-capture:before {
  content: "\e912";
}
.wificon.icon-chat:before {
  content: "\e913";
}
.wificon.icon-cipher:before {
  content: "\e914";
}
.wificon.icon-dns:before {
  content: "\e915";
}
.wificon.icon-download:before {
  content: "\e916";
}
.wificon.icon-killwifi:before {
  content: "\e917";
}
.wificon.icon-location:before {
  content: "\e918";
}
.wificon.icon-team:before {
  content: "\e919";
}
.wificon.icon-mobileap:before {
  content: "\e91a";
}
.wificon.icon-nic:before {
  content: "\e91b";
}
.wificon.icon-page:before {
  content: "\e91c";
}
.wificon.icon-private:before {
  content: "\e91d";
}
.wificon.icon-pkt:before {
  content: "\e91e";
}
.wificon.icon-settings:before {
  content: "\e91f";
}
.wificon.icon-share:before {
  content: "\e920";
}
.wificon.icon-wifi:before {
  content: "\e921";
}
.wificon.icon-wifiscan:before {
  content: "\e922";
}
